In [9]:
import pandas as pd
titanic = pd.read_csv('train.csv')
test = pd.read_csv('test.csv')

#The ticket number of the passenger are all unique and don't have a concrete format. 
#Therefore, no analysis could be done on the ticket number and thus is dropped.
#The cabin number has lots of missing data and they can't be easily imputed (no average cabin number). 
#Thus, we drop the column 'cabin'.
#The names of the passengers don't really determine much and most are unique. 
#Thus, no analysis can be done on their name and thus is dropped.
titanic = titanic.drop('Ticket', axis=1)
titanic = titanic.drop('Cabin', axis=1)
titanic = titanic.drop('Name', axis=1)

print(titanic)
titanic.plot(x ='Age', y='Sex', kind = 'scatter')

FileNotFoundError: [Errno 2] No such file or directory: 'train.csv'

In [ ]:
titanic_dropFares = pd.DataFrame(titanic)
for x in titanic_dropFares.index:
  if titanic_dropFares.loc[x, "Fare"] <= 0:
    titanic_dropFares.drop(x, inplace = True)
print(titanic_dropFares[170:180]['Fare'])
print(titanic[170:180]['Fare'])
titanic_averageFare = titanic_dropFares.groupby(by = 'Pclass').mean()
titanic_averageFare = titanic_averageFare.drop('PassengerId', axis = 1)
titanic_averageFare = titanic_averageFare.drop('Age', axis = 1)
titanic_averageFare = titanic_averageFare.drop('SibSp', axis = 1)
titanic_averageFare = titanic_averageFare.drop('Parch', axis = 1)
print(titanic_averageFare)

170    33.5000
171    29.1250
172    11.1333
173     7.9250
174    30.6958
175     7.8542
176    25.4667
177    28.7125
178    13.0000
180    69.5500
Name: Fare, dtype: float64
170    33.5000
171    29.1250
172    11.1333
173     7.9250
174    30.6958
175     7.8542
176    25.4667
177    28.7125
178    13.0000
179     0.0000
Name: Fare, dtype: float64
        Survived       Fare
Pclass
1       0.644550  86.148874
2       0.488764  21.358661
3       0.242300  13.787875

In [ ]:
titanic_train= pd.DataFrame(titanic[0:700])
titanic_train

,PassengerId,Survived,Pclass,Sex,Age,SibSp,Parch,Fare,Embarked
0,1,0,3,male,22.0,1,0,7.2500,S
1,2,1,1,female,38.0,1,0,71.2833,C
2,3,1,3,female,26.0,0,0,7.9250,S
3,4,1,1,female,35.0,1,0,53.1000,S
4,5,0,3,male,35.0,0,0,8.0500,S
...,...,...,...,...,...,...,...,...,...
695,696,0,2,male,52.0,0,0,13.5000,S
696,697,0,3,male,44.0,0,0,8.0500,S
697,698,1,3,female,NaN,0,0,7.7333,Q
698,699,0,1,male,49.0,1,1,110.8833,C
699,700,0,3,male,42.0,0,0,7.6500,S

In [ ]:
titanic_test= pd.DataFrame(titanic[701:].drop('Survived', axis = 1))
titanic_test

     PassengerId  Pclass     Sex   Age  SibSp  Parch     Fare Embarked
701          702       1    male  35.0      0      0  26.2875        S
702          703       3  female  18.0      0      1  14.4542        C
703          704       3    male  25.0      0      0   7.7417        Q
704          705       3    male  26.0      1      0   7.8542        S
705          706       2    male  39.0      0      0  26.0000        S
..           ...     ...     ...   ...    ...    ...      ...      ...
886          887       2    male  27.0      0      0  13.0000        S
887          888       1  female  19.0      0      0  30.0000        S
888          889       3  female   NaN      1      2  23.4500        S
889          890       1    male  26.0      0      0  30.0000        C
890          891       3    male  32.0      0      0   7.7500        Q

[190 rows x 8 columns]